*{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100%;
}
.mid{
  width: 40%;

}
.mid textarea{
  width: 100%;
  height: 70vh;
  outline: none;
  border: none;
  resize: none;
  padding: 10px;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}


.mid textarea::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
  border-radius: 10px;
}

.mid textarea::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  border-radius: 10px;
}

.mid textarea::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent);
  border-radius: 10px;
}